<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                LIST
            </h1>
            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>LIST1 </p>
                </a>
                <a class="list-menu-item">
                    <p>LIST1 </p>
                </a>
                <a class="list-menu-item">
                    <p>LIST1 </p>
                </a>
                <a class="list-menu-item">
                    <p>LIST1 </p>
                </a>
            </div>
            <button class="button is-primary has-text-white" routerLink = "/new-list">+ New List</button>
        </div>
        <div class="tasks-list-container">
            <h1 class="title has-text-primary">
                TASKS
            </h1>
            <!-- Task elements  -->
            <div class="task">
                <p>haahhahhaahhahah</p>
            </div>
            <div class="task">
                <p>haahhahhaahhahah</p>
            </div>
            <div class="task complete">
                <p>haahhahhaahhahah</p>
            </div>

        </div>
    </div>
</div>